
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#disclaimer-sidenote {
  color: black;
  text-decoration: none;
}

table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
}

video {
  width: 100%;
  height: auto;
}

#disclaimer {
  position: absolute;
  right: 10px;
  top: 0px;
}

#loading {
  display: inline-block;
  width: 22px;
  height: 22px;
  background: url(../img/loading.gif) no-repeat top left;
  background-size: 22px 22px;
  vertical-align: middle;
  visibility: hidden;
}
